.text {
    font-weight: 600;
    font-size: 16px;
}
.nav {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.nav li {
    list-style-type: none;
}

table {
    border: 1px solid black;
}
td {
    padding: 4px;
    border: 1px solid black;
}
hr {
    background-color: black;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

form {
    display: grid;
    gap: 12px;
}

p {
    margin: 0;
    padding: 0;
}

.border {
    border-color: red;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 12px;
}

.container-elem {
    border: 2px solid #989696;
    background-color: burlywood;
    position: relative;
    cursor: pointer;
}

.container-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.container-price {
    color: greenyellow;
}

.container-label {
    position: absolute;
    top: 6px;
    inset-inline-start: 6px;

    border-radius: 40px;
    padding: 4px 8px ;

    &.new {
        background-color: greenyellow;
    }

    &.popular {
        background-color: #ee3154;
    }
}

.active {
    border-color: #00ff00;
}

.star{
    background-color: rgba(232, 226, 226, 0.99);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    box-shadow: 0 0 4px rgba(232, 226, 226, 0.99);
}

.imageClass {
    width: 80px;
    aspect-ratio: 1;
}

.error {
    color: red;
}
